@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');
/* font-family: 'Forum', cursive;
font-family: 'Inter', sans-serif; */

:root {
    --container-width: 1400px;
    --container-padding: 20px 20px 0px 20px;
}

.none {
	display: none !important;
}

.container {
    max-width: var(--container-width);
    
    margin: 0 auto;
}

/*Header*/

.header {
    background-color: #0C0C0E;
    min-height: 690px;
    
  
}

.header a {
    color: #fff;
}

.container { 
}
.header__top {
    padding: 20px 20px 20px 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.nav__logo {
}
.logo {
    font-family: Forum, cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
}
.nav__list {
    display: flex;
   
    column-gap: 30px;


    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px; 
}

.nav__list a{
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    
    position: absolute;
    left: 0; 
    right: 10px;
    bottom: -6px;
    
    display: block;
    /* width: 35px; */
    height: 4px;
    border-radius: 100px;
    background: #C4C4C4;
}

.active {
}

.user__btn img {
    display: inline-block;
    width: 28px;
    height: 28px;
}

.user__btn:active {
    position: relative;
    top: 2px
}

.user__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 6px 6px;
    margin-left: 10px;
}

.header__base {
    height: 600px;
    padding-top: 220px;
    background-image: url(./../img/header/Welcome.png);

}


.header__title {
    color: #FFF;
    font-family: Forum, cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 3px;
    text-transform: uppercase; 
    text-align: center;
    padding-top: 35px;

    background-color: #0C0C0E;
    width: 600px;
    height: 220px;
}


/* ABOUT BLOCK */

.about__block {
    min-height: 837px;
    padding: var(--container-padding);
    text-align: center;

    

}

.about__title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 20px;

   
}

.line {
    border-bottom: #0C0C0E 1px solid;
    width: 50px;
    margin-left: 675px;
    
    
}
.about__text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px; 
    margin-top: 40px;
}
.about__slider {
    margin-top: 20px;
    
}

.owl-carousel {
    display: flex;
    column-gap: 25px;
}

.slider__item {
    
}

.pagination {
    margin-top: 40px;
}


/*FAVORITES BLOCK*/

.favorites__block {
    min-height: 1439px;
    padding: var(--container-padding);
}

.favorites__title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 20px;
    text-align: center;
}

.favorites__text {
    margin-top: 40px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.favorites__radiogroup {
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    margin-top: 40px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.favorites__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 260px;
    margin-top: 40px;
}

.item__book {
    display: flex;
    flex-direction: row;
}
.favorites__item {
    border: 1px solid #000;
    width: 550px;
    height: 555px;
    margin-bottom: 40px;

}
.text__item {
    margin: 15px 0px 15px 20px;
}
.text__book {
    font-family: Forum;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.line__book {
    border: #BB945F 1px solid;
    width: 60px;
    margin-bottom: 20px;
}
.name__book {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}
.author__book {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.description__book {    
    width: 355px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}
.btn__book {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;

    border-radius: 2px;
    border: 1px solid #0C0C0E;
    padding: 9px 27px;  
       
}

.item__book{
    position: relative;
   
}
.img__item {
    position: absolute;
    top: 255px;
    right: -40px;
}


.radio-label {
}
.custom__radio {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color:#fff;
    border: 2px solid #000;     
    border-radius: 50%;
    margin-right: 20px;   
    vertical-align: middle;               
}


.custom__radio::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px; 
    background-color: #000;  
    border-radius: 7px;   
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

.real-radio:checked + .custom__radio::before {
    display: block;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

